<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/games.css">
</head>
<body>
    <div id="list-games">
      <h1>List of Games</h1>
      <a href="/">Home</a>
      <table>
        <thead>
          
            <tr>
                <th>Front Page</th>
                <th>Title</th>
                <th>Platform</th>
                <th>Published</th>
                <th>Genre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="table-body">
           
        </tbody>

      </table>

    </div>
    <script src="/scripts/games_script.js"></script>
</body>
</html>