<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registro de Juegos</h1>
    <form action="POST">
        <label for="name">Title:
            <input type="text" name="name" id="name">
        </label>

        <label for="platform">Platform:
            <input type="text" name="platform" id="platform">
        </label>

        <label for="genre">
            <input type="checkbox" name="genre" id="genre">
        </label>

        <label for="published">Published:
            <input type="datetime" name="published" id="published">
        </label>
        
        <label for="pegi">PEGI:
            <input type="text" name="pegi" id="pegi">
        </label>
        <label for="image_url">Front Page Url:
            <input type="text" name="image_url" id="image_url">
        </label>
        
        
        <label for="">
            <input type="text" name="" id="">
        </label>
        <label for="">
            <input type="text" name="" id="">
        </label>
        <label for="">
            <input type="text" name="" id="">
        </label>


    </form>
</body>
</html>